# All Data - Analyze Dropout

Overall Dates and Company Dropout

## Load and setup

In [57]:
# Packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [58]:
# Load data
df = pd.read_parquet(r'~\Box\STAT 222 Capstone\Intermediate Data\All_Data\all_data_fixed_quarter_dates.parquet') 
df

,ticker,fixed_quarter_date,earnings_call_date,Rating,Rating Agency Name,rating_date,CR_source,Rating Rank AAA is 10,Next Rating,Next Rating Date,...,Altman_Z,Change Direction Since Last Fixed Quarter Date,Change Since Last Fixed Quarter Date,Description,Company Name,Sector,Industry Group,Industry,Sub-Industry,Comment
0,AAPL,2014-07-01,2014-04-23,AA,Standard & Poor's Ratings Services,2014-05-27,Supplementary,9,AA,2015-02-18,...,6.530889,None,NaN,"Apple Inc. (Apple) designs, manufactures and m...",APPLE INC,Information Technology,Technology Hardware & Equipment,"Technology Hardware, Storage & Peripherals","Technology Hardware, Storage & Peripherals","Manufacturers of cellular phones, personal com..."
1,AAPL,2014-10-01,2014-07-22,AA,Standard & Poor's Ratings Services,2014-05-27,Supplementary,9,AA,2015-02-18,...,4.324703,Same As Last Fixed Quarter Date,0.0,"Apple Inc. (Apple) designs, manufactures and m...",APPLE INC,Information Technology,Technology Hardware & Equipment,"Technology Hardware, Storage & Peripherals","Technology Hardware, Storage & Peripherals","Manufacturers of cellular phones, personal com..."
2,AAPL,2015-01-01,2014-10-20,AA,Standard & Poor's Ratings Services,2014-05-27,Supplementary,9,AA,2015-02-18,...,6.153503,Same As Last Fixed Quarter Date,0.0,"Apple Inc. (Apple) designs, manufactures and m...",APPLE INC,Information Technology,Technology Hardware & Equipment,"Technology Hardware, Storage & Peripherals","Technology Hardware, Storage & Peripherals","Manufacturers of cellular phones, personal com..."
3,AAPL,2015-04-01,2015-01-27,AA,Standard & Poor's Ratings Services,2015-02-18,Supplementary,9,AA,2015-05-28,...,3.985264,Same As Last Fixed Quarter Date,0.0,"Apple Inc. (Apple) designs, manufactures and m...",APPLE INC,Information Technology,Technology Hardware & Equipment,"Technology Hardware, Storage & Peripherals","Technology Hardware, Storage & Peripherals","Manufacturers of cellular phones, personal com..."
4,AAPL,2015-07-01,2015-04-27,AA,Standard & Poor's Ratings Services,2015-06-02,Supplementary,9,AA,2015-08-25,...,6.295942,Same As Last Fixed Quarter Date,0.0,"Apple Inc. (Apple) designs, manufactures and m...",APPLE INC,Information Technology,Technology Hardware & Equipment,"Technology Hardware, Storage & Peripherals","Technology Hardware, Storage & Peripherals","Manufacturers of cellular phones, personal com..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7329,ZTS,2015-10-01,2015-08-04,BBB,Standard & Poor's Ratings Services,2015-01-30,Both,7,BBB,2015-11-03,...,3.500267,Same As Last Fixed Quarter Date,0.0,"Zoetis Inc. is focused on the discovery, devel...",ZOETIS INC,Health Care,"Pharmaceuticals, Biotechnology & Life Sciences",Pharmaceuticals,Pharmaceuticals,"Companies engaged in the research, development..."
7330,ZTS,2016-01-01,2015-11-03,BBB,Standard & Poor's Ratings Services,2015-11-03,Supplementary,7,BBB,2016-01-22,...,3.198497,Same As Last Fixed Quarter Date,0.0,"Zoetis Inc. is focused on the discovery, devel...",ZOETIS INC,Health Care,"Pharmaceuticals, Biotechnology & Life Sciences",Pharmaceuticals,Pharmaceuticals,"Companies engaged in the research, development..."
7331,ZTS,2016-04-01,2016-02-16,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,BBB,2016-12-23,...,2.782747,Same As Last Fixed Quarter Date,0.0,"Zoetis Inc. is focused on the discovery, devel...",ZOETIS INC,Health Care,"Pharmaceuticals, Biotechnology & Life Sciences",Pharmaceuticals,Pharmaceuticals,"Companies engaged in the research, development..."
7332,ZTS,2016-07-01,2016-05-04,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,BBB,2016-12-23,...,3.000131,Same As Last Fixed Quarter Date,0.0,"Zoetis Inc. is focused on the discovery, devel...",ZOETIS INC,Health Care,"Pharmaceuticals, Biotechnology & Life Sciences",Pharmaceuticals,Pharmaceuticals,"Companies engaged in the research, development..."
7333,ZTS,2016-10-01,2016-08-03,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,BBB,2016-12-23,...,3.199175,Same As Last Fixed Quarter Date,0.0,"Zoetis Inc. is focused on the discovery, devel...",ZOETIS INC,Health Care,"Pharmaceuticals, Biotechnology & Life Sciences",Pharmaceuticals,Pharmaceuticals,"Companies engaged in the research, development..."

## Compute max date and look for cases where it isn't 2016-10-01, supposed last quarter

In [59]:
# For each ticker, get the max value of fixed_quarter_date, and print out items where it is not in the last quarter of 2016
# Convert fixed_quarter_date to datetime
df['fixed_quarter_date_dt'] = pd.to_datetime(df['fixed_quarter_date'])
# Add column max_date to df
df['max_date'] = df.groupby('ticker')['fixed_quarter_date_dt'].transform('max')
# Display rows where max_date is not in the last quarter of 2016
df[df['max_date'] < '2016-10-01']

,ticker,fixed_quarter_date,earnings_call_date,Rating,Rating Agency Name,rating_date,CR_source,Rating Rank AAA is 10,Next Rating,Next Rating Date,...,Change Since Last Fixed Quarter Date,Description,Company Name,Sector,Industry Group,Industry,Sub-Industry,Comment,fixed_quarter_date_dt,max_date
189,ADSK,2013-10-01,2013-08-22,BBB,Standard & Poor's Ratings Services,2013-08-20,Supplementary,7,BBB,2014-05-13,...,NaN,"Autodesk, Inc. is a three-dimensional (3D) des...",AUTODESK INC,Information Technology,Software & Services,Software,Application Software,Companies engaged in developing and producing ...,2013-10-01,2016-04-01
190,ADSK,2014-01-01,2013-11-21,BBB,Standard & Poor's Ratings Services,2013-08-20,Supplementary,7,BBB,2014-05-13,...,0.0,"Autodesk, Inc. is a three-dimensional (3D) des...",AUTODESK INC,Information Technology,Software & Services,Software,Application Software,Companies engaged in developing and producing ...,2014-01-01,2016-04-01
191,ADSK,2014-04-01,2014-02-26,BBB,Standard & Poor's Ratings Services,2013-08-20,Supplementary,7,BBB,2014-05-13,...,0.0,"Autodesk, Inc. is a three-dimensional (3D) des...",AUTODESK INC,Information Technology,Software & Services,Software,Application Software,Companies engaged in developing and producing ...,2014-04-01,2016-04-01
192,ADSK,2014-07-01,2014-05-16,BBB,Standard & Poor's Ratings Services,2014-05-13,Supplementary,7,None,None,...,0.0,"Autodesk, Inc. is a three-dimensional (3D) des...",AUTODESK INC,Information Technology,Software & Services,Software,Application Software,Companies engaged in developing and producing ...,2014-07-01,2016-04-01
193,ADSK,2014-10-01,2014-08-14,BBB,Standard & Poor's Ratings Services,2014-05-13,Supplementary,7,None,None,...,0.0,"Autodesk, Inc. is a three-dimensional (3D) des...",AUTODESK INC,Information Technology,Software & Services,Software,Application Software,Companies engaged in developing and producing ...,2014-10-01,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7187,WOR,2016-04-01,2016-03-23,BBB,Standard & Poor's Ratings Services,2014-04-10,Supplementary,7,None,None,...,0.0,"Worthington Industries, Inc. is an industrial ...",WORTHINGTON INDUSTRIES,Materials,Materials,Metals & Mining,Steel,Producers of iron and steel and related produc...,2016-04-01,2016-07-01
7188,WOR,2016-07-01,2016-06-29,BBB,Standard & Poor's Ratings Services,2014-04-10,Supplementary,7,None,None,...,0.0,"Worthington Industries, Inc. is an industrial ...",WORTHINGTON INDUSTRIES,Materials,Materials,Metals & Mining,Steel,Producers of iron and steel and related produc...,2016-07-01,2016-07-01
7241,XIN,2014-04-01,2014-02-28,B,Standard & Poor's Ratings Services,2013-04-17,Original,5,B,2014-06-16,...,NaN,None,None,Real Estate,None,None,None,None,2014-04-01,2016-04-01
7242,XIN,2015-04-01,2015-02-27,B,Standard & Poor's Ratings Services,2014-11-17,Original,5,B,2016-08-24,...,0.0,None,None,Real Estate,None,None,None,None,2015-04-01,2016-04-01
7243,XIN,2016-04-01,2016-03-01,B,Standard & Poor's Ratings Services,2014-11-17,Original,5,B,2016-08-24,...,0.0,None,None,Real Estate,None,None,None,None,2016-04-01,2016-04-01

## Firms dropping out and last date appearing

In [60]:
# Unique firms where this is the case
print(len(df[df['max_date'] < '2016-10-01'][['ticker', 'max_date']].drop_duplicates()))
print('share of firms dropping out:', len(df[df['max_date'] < '2016-10-01'][['ticker', 'max_date']].drop_duplicates()) / df['ticker'].nunique())
dropout_firms = df[df['max_date'] < '2016-10-01'][['ticker', 'max_date']].drop_duplicates().sort_values(by='max_date')
dropout_firms

35
share of firms dropping out: 0.06529850746268656

     ticker   max_date
7129   WFRD 2015-10-01
1667    DEO 2015-10-01
189    ADSK 2016-04-01
7013   VRNT 2016-04-01
6920    USM 2016-04-01
5855   SAIC 2016-04-01
4870   NVDA 2016-04-01
7241    XIN 2016-04-01
885     BTU 2016-04-01
1351   CNHI 2016-04-01
1657    DAR 2016-07-01
342     AMD 2016-07-01
7077   VSTO 2016-07-01
678     BAH 2016-07-01
6730   TRTN 2016-07-01
6504    TGI 2016-07-01
6304    STZ 2016-07-01
968     CAG 2016-07-01
5093   ORCL 2016-07-01
4820   NTAP 2016-07-01
1665   DELL 2016-07-01
4704    NKE 2016-07-01
4489     MU 2016-07-01
4436   MTSI 2016-07-01
7175    WOR 2016-07-01
3256  IMKTA 2016-07-01
2657    GIS 2016-07-01
2413   FLEX 2016-07-01
2320    FDX 2016-07-01
2221    EXC 2016-07-01
2034    ENS 2016-07-01
1867     EA 2016-07-01
1796    DRI 2016-07-01
4696    NGL 2016-07-01
3982   MCHP 2016-07-01

Most are close which can be OK due to date inaccuracy

## Full quarter history for these firms

Output to Excel for investigation

In [61]:
dropout_firms_full_hist = df[df['ticker'].isin(dropout_firms['ticker'])][['ticker', 'fixed_quarter_date', 'earnings_call_date', 'calendarYear', 'period']].sort_values(by=['ticker', 'fixed_quarter_date'])
dropout_firms_full_hist.to_excel(r'dropout_firms_full_hist.xlsx', index=False)
dropout_firms_full_hist

     ticker fixed_quarter_date earnings_call_date  calendarYear  period
189    ADSK         2013-10-01         2013-08-22          2014       2
190    ADSK         2014-01-01         2013-11-21          2014       3
191    ADSK         2014-04-01         2014-02-26          2014       4
192    ADSK         2014-07-01         2014-05-16          2015       1
193    ADSK         2014-10-01         2014-08-14          2015       2
...     ...                ...                ...           ...     ...
7187    WOR         2016-04-01         2016-03-23          2016       3
7188    WOR         2016-07-01         2016-06-29          2016       4
7241    XIN         2014-04-01         2014-02-28          2013       4
7242    XIN         2015-04-01         2015-02-27          2014       4
7243    XIN         2016-04-01         2016-03-01          2015       4

[376 rows x 5 columns]

## Checking combined calls

outputting excel file for investigation

In [62]:
# Searching for some items in combined_calls.parquet
cc = pd.read_parquet('~\Box\STAT 222 Capstone\Intermediate Data\Calls\combined_calls.parquet', columns = ['symbol', 'earnings_call_date', 'source', 'year', 'quarter']).drop_duplicates()
# Output cc for the firms in dropout_firms
cc[cc['symbol'].isin(dropout_firms['ticker'])].sort_values(by=['symbol', 'earnings_call_date']).to_excel(r'cc_dropout_firms.xlsx', index=False)
cc[cc['symbol'].isin(dropout_firms['ticker'])].sort_values(by=['symbol', 'earnings_call_date'])

<>:2: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\B'
C:\Users\ijyli\AppData\Local\Temp\ipykernel_8144\3061905121.py:2: SyntaxWarning: invalid escape sequence '\B'
  cc = pd.read_parquet('~\Box\STAT 222 Capstone\Intermediate Data\Calls\combined_calls.parquet', columns = ['symbol', 'earnings_call_date', 'source', 'year', 'quarter']).drop_duplicates()

      symbol earnings_call_date source  year  quarter
651     ADSK         2009-05-21    web  2010        1
652     ADSK         2009-08-13    web  2010        2
653     ADSK         2009-11-18    web  2010        3
654     ADSK         2010-02-23    web  2010        4
655     ADSK         2011-02-24    web  2011        4
...      ...                ...    ...   ...      ...
30679    XIN         2016-03-01    web  2015        4
30680    XIN         2016-05-10    web  2016        1
30681    XIN         2016-08-12    web  2016        2
30682    XIN         2016-11-14    web  2016        3
30683    XIN         2017-02-14    web  2016        4

[730 rows x 5 columns]

## Check bankruptcies

validate with bankruptcies dataset

In [73]:
# Load all Excel files in the folder "~\Box\STAT 222 Capstone\Raw Data\Bankruptcies" and concatenate
import os
import glob
path = r'C:\Users\ijyli\Box\STAT 222 Capstone\Raw Data\Bankruptcies'
all_files = glob.glob(os.path.join(path, "*.xlsx"))
print(all_files)
df_from_each_file = [pd.read_excel(f) for f in all_files]
df_bankruptcies = pd.concat(df_from_each_file, ignore_index=True)
df_bankruptcies['in_bankruptcy'] = 1
df_bankruptcies

['C:\\Users\\ijyli\\Box\\STAT 222 Capstone\\Raw Data\\Bankruptcies\\2010 Bankruptcies.xlsx', 'C:\\Users\\ijyli\\Box\\STAT 222 Capstone\\Raw Data\\Bankruptcies\\2011 Bankruptcies.xlsx', 'C:\\Users\\ijyli\\Box\\STAT 222 Capstone\\Raw Data\\Bankruptcies\\2012 Bankruptcies.xlsx', 'C:\\Users\\ijyli\\Box\\STAT 222 Capstone\\Raw Data\\Bankruptcies\\2013 Bankruptcies.xlsx', 'C:\\Users\\ijyli\\Box\\STAT 222 Capstone\\Raw Data\\Bankruptcies\\2014 Bankruptcies.xlsx', 'C:\\Users\\ijyli\\Box\\STAT 222 Capstone\\Raw Data\\Bankruptcies\\2015 Bankruptcies - Partial.xlsx', 'C:\\Users\\ijyli\\Box\\STAT 222 Capstone\\Raw Data\\Bankruptcies\\2016 Bankruptcies.xlsx']

          Date Symbol                        Company Name  in_bankruptcy
0   2010-12-31   GSTY                 Green St Energy Inc              1
1   2010-12-30   REMC                           Remec Inc              1
2   2010-12-23  GIGIQ  Gulfstream International Group Inc              1
3   2010-12-20  AWBCQ         Americanwest Bancorporation              1
4   2010-12-20  ANSVQ                         Anesiva Inc              1
..         ...    ...                                 ...            ...
580 2016-01-14  ALVRQ                       Alvarion Ltd.              1
581 2016-01-13   MAXD                      Max Sound Corp              1
582 2016-01-08   VTEQ                             Veriteq              1
583 2016-01-08   RITT               Rit Technologies Ltd.              1
584 2016-01-07   CCRE              Can Cal Resources Ltd.              1

[585 rows x 4 columns]

In [74]:
# companies with credit rating data
# "~\Box\STAT 222 Capstone\Intermediate Data\Credit_Rating\combined_credit_rating_data.csv"
combined_credit = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Credit_Rating\combined_credit_rating_data.csv')
combined_credit

,Rating,Symbol,Rating Agency Name,Date,Source,Rating Rank AAA is 10,Next Rating,Next Rating Date,Previous Rating,Previous Rating Date,Next Rating Date or End of Data,Type,Change in Rating
0,BBB,BCE,DBRS,2016-08-08,Both,7,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN
1,BBB,BEP,DBRS,2015-11-09,Supplementary,7,BBB,2015-11-25,NaN,NaN,2015-11-25,Ambiguous,NaN
2,BBB,BEP,DBRS,2015-11-25,Supplementary,7,NaN,NaN,BBB,2015-11-09,2016-12-31,Affirmation,0.0
3,A,CCJ,DBRS,2016-06-03,Supplementary,8,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN
4,A,COST,DBRS,2014-05-20,Supplementary,8,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8727,BBB,ZTS,Standard & Poor's Ratings Services,2014-01-31,Both,7,BBB,2015-01-30,BBB,2013-10-11,2015-01-30,Affirmation,0.0
8728,BBB,ZTS,Standard & Poor's Ratings Services,2015-01-30,Both,7,BBB,2015-11-03,BBB,2014-01-31,2015-11-03,Affirmation,0.0
8729,BBB,ZTS,Standard & Poor's Ratings Services,2015-11-03,Supplementary,7,BBB,2016-01-22,BBB,2015-01-30,2016-01-22,Affirmation,0.0
8730,BBB,ZTS,Standard & Poor's Ratings Services,2016-01-22,Both,7,BBB,2016-12-23,BBB,2015-11-03,2016-12-23,Affirmation,0.0
8731,BBB,ZTS,Standard & Poor's Ratings Services,2016-12-23,Original,7,NaN,NaN,BBB,2016-01-22,2016-12-31,Affirmation,0.0

In [75]:
# combined credit symbols
combined_credit_symbol_df = combined_credit[['Symbol']].drop_duplicates()
combined_credit_symbol_df['in_credit'] = 1
combined_credit_symbol_df

     Symbol  in_credit
0       BCE          1
1       BEP          1
3       CCJ          1
4      COST          1
5       CVE          1
...     ...        ...
8659    WRK          1
8660    WTI          1
8680    XIN          1
8697   XPER          1
8709   YORW          1

[886 rows x 2 columns]

In [77]:
# Outer join df_bankruptcies and combined_credit on symbol
df_bankruptcies_credit = df_bankruptcies.merge(combined_credit_symbol_df, how='outer', left_on='Symbol', right_on='Symbol')
# Fill in_credit and in_bankruptcy with 0
df_bankruptcies_credit['in_credit'] = df_bankruptcies_credit['in_credit'].fillna(0)
df_bankruptcies_credit['in_bankruptcy'] = df_bankruptcies_credit['in_bankruptcy'].fillna(0)
# Counts of in_credit and in_bankruptcy
print(df_bankruptcies_credit[['in_credit', 'in_bankruptcy']].value_counts())

in_credit  in_bankruptcy
1.0        0.0              886
0.0        1.0              585
Name: count, dtype: int64

In [78]:
# check if BTU which went bankrupt in 2016 is in the raw bankruptcy data
df_bankruptcies[df_bankruptcies['Symbol'] == 'BTU']

Empty DataFrame
Columns: [Date, Symbol, Company Name, in_bankruptcy]
Index: []