# Missing Sector Data

Find companies with credit rating data missing GICS sector data

In [8]:
# Packages
import pandas as pd

In [9]:
# Load combined credit rating data and keep list of unique companies
combined_credit_rating_data = pd.read_csv('~\Box\STAT 222 Capstone\Intermediate Data\Credit_Rating\combined_credit_rating_data.csv')
combined_credit_rating_data

<>:2: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\B'
C:\Users\ijyli\AppData\Local\Temp\ipykernel_1784\3693469958.py:2: SyntaxWarning: invalid escape sequence '\B'
  combined_credit_rating_data = pd.read_csv('~\Box\STAT 222 Capstone\Intermediate Data\Credit_Rating\combined_credit_rating_data.csv')

,Rating,Symbol,Rating Agency Name,Date,Source,Rating Rank AAA is 10,Next Rating,Next Rating Date,Previous Rating,Previous Rating Date,Next Rating Date or End of Data,Type,Change in Rating
0,BBB,BCE,DBRS,2016-08-08,Both,7,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN
1,BBB,BEP,DBRS,2015-11-09,Supplementary,7,BBB,2015-11-25,NaN,NaN,2015-11-25,Ambiguous,NaN
2,BBB,BEP,DBRS,2015-11-25,Supplementary,7,NaN,NaN,BBB,2015-11-09,2016-12-31,Affirmation,0.0
3,A,CCJ,DBRS,2016-06-03,Supplementary,8,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN
4,A,COST,DBRS,2014-05-20,Supplementary,8,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8727,BBB,ZTS,Standard & Poor's Ratings Services,2014-01-31,Both,7,BBB,2015-01-30,BBB,2013-10-11,2015-01-30,Affirmation,0.0
8728,BBB,ZTS,Standard & Poor's Ratings Services,2015-01-30,Both,7,BBB,2015-11-03,BBB,2014-01-31,2015-11-03,Affirmation,0.0
8729,BBB,ZTS,Standard & Poor's Ratings Services,2015-11-03,Supplementary,7,BBB,2016-01-22,BBB,2015-01-30,2016-01-22,Affirmation,0.0
8730,BBB,ZTS,Standard & Poor's Ratings Services,2016-01-22,Both,7,BBB,2016-12-23,BBB,2015-11-03,2016-12-23,Affirmation,0.0
8731,BBB,ZTS,Standard & Poor's Ratings Services,2016-12-23,Original,7,NaN,NaN,BBB,2016-01-22,2016-12-31,Affirmation,0.0

In [10]:
# Unique values of Symbol
unique_symbols = combined_credit_rating_data[['Symbol']].drop_duplicates()
unique_symbols

     Symbol
0       BCE
1       BEP
3       CCJ
4      COST
5       CVE
...     ...
8659    WRK
8660    WTI
8680    XIN
8697   XPER
8709   YORW

[886 rows x 1 columns]

In [11]:
# Load CSV 'C:\Users\ijyli\Box\STAT 222 Capstone\Raw Data\US Public Companies Classification\US_stocks.csv'
us_stocks = pd.read_csv(r'~\Box\STAT 222 Capstone\Raw Data\US Public Companies Classification\US_stocks.csv')
print(us_stocks)

     Ticker                                        Description  \
0      CTVA  Corteva, Inc. is a global provider of seed and...
1      ALCO  Alico, Inc. is an agribusiness and land manage...
2      LMNR  Limoneira Company is primarily an agribusiness...
3      SANW  S&W Seed Company (S&W) is a multi-crop and mid...
4       TRC  Tejon Ranch Co. is a diversified real estate d...
...     ...                                                ...
3139    HON  Honeywell International Inc. is a software-ind...
3140    IEP  Icahn Enterprises L.P. is a diversified holdin...
3141   SPLP  Steel Partners Holdings L.P. is a diversified ...
3142    SEB  Seaboard Corporation is primarily engaged in h...
3143  BRK.B  Berkshire Hathaway Inc. is a holding company o...

                     Company Name            Sector            Industry Group  \
0                     CORTEVA INC         Materials                 Materials
1                       ALICO INC  Consumer Staples  Food, Beverage & Tobacco
2                    LIMONEIRA CO  Consumer Staples  Food, Beverage & Tobacco
3                     S&W SEED CO  Consumer Staples  Food, Beverage & Tobacco
4                  TEJON RANCH CO       Real Estate               Real Estate
...                           ...               ...                       ...
3139  HONEYWELL INTERNATIONAL INC       Industrials             Capital Goods
3140         ICAHN ENTERPRISES LP       Industrials             Capital Goods
3141   STEEL PARTNERS HOLDINGS LP       Industrials             Capital Goods
3142                SEABOARD CORP  Consumer Staples  Food, Beverage & Tobacco
3143           BERKSHIRE HATHAWAY        Financials    Diversified Financials

                                  Industry  \
0                                Chemicals
1                            Food Products
2                            Food Products
3                            Food Products
4     Real Estate Management & Development
...                                    ...
3139              Industrial Conglomerates
3140              Industrial Conglomerates
3141              Industrial Conglomerates
3142                         Food Products
3143        Diversified Financial Services

                              Sub-Industry  \
0     Fertilizers & Agricultural Chemicals
1                    Agricultural Products
2                    Agricultural Products
3                    Agricultural Products
4      Diversified Real Estate Activities
...                                    ...
3139              Industrial Conglomerates
3140              Industrial Conglomerates
3141              Industrial Conglomerates
3142                Packaged Foods & Meats
3143                 Multi-Sector Holdings

                                                Comment
0     Producers of fertilizers, pesticides, potash o...
1     Producers of agricultural products. Includes c...
2     Producers of agricultural products. Includes c...
3     Producers of agricultural products. Includes c...
4     Companies engaged in a diverse spectrum of rea...
...                                                 ...
3139  Diversified industrial companies with business...
3140  Diversified industrial companies with business...
3141  Diversified industrial companies with business...
3142  Producers of packaged foods including dairy pr...
3143  A company with significantly diversified holdi...

[3144 rows x 8 columns]

In [12]:
# Left join unique_symbols with us_stocks on 'Symbol' = 'Ticker'
companies_and_sectors = pd.merge(unique_symbols, us_stocks, left_on='Symbol', right_on='Ticker', how='left')
companies_and_sectors

,Symbol,Ticker,Description,Company Name,Sector,Industry Group,Industry,Sub-Industry,Comment
0,BCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CCJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,COST,COST,Costco Wholesale Corporation is engaged in the...,COSTCO WHOLESALE CORP,Consumer Staples,Food & Staples Retailing,Food & Staples Retailing,Hypermarkets & Super Centers,Owners and operators of hypermarkets and super...
4,CVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
881,WRK,WRK,WestRock Company is a multinational provider o...,WESTROCK CO,Materials,Materials,Containers & Packaging,Paper Packaging,Manufacturers of paper and cardboard container...
882,WTI,WTI,"W&T Offshore, Inc. is an independent oil and n...",W&T OFFSHORE INC,Energy,Energy,"Oil, Gas & Consumable Fuels",Oil & Gas Exploration & Production,Companies engaged in the exploration and produ...
883,XIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884,XPER,XPER,Xperi Holding Corporation is a consumer and en...,XPERI HOLDING CORP,Information Technology,Software & Services,Software,Systems Software,Companies engaged in developing and producing ...
885,YORW,YORW,The York Water Company is an investor-owned wa...,YORK WATER CO,Utilities,Utilities,Water Utilities,Water Utilities,Companies that purchase and redistribute water...

In [13]:
# Print items missing in sector data 
missing_in_sector_data = companies_and_sectors[companies_and_sectors['Ticker'].isnull()]
print(missing_in_sector_data)

    Symbol Ticker Description Company Name Sector Industry Group Industry  \
0      BCE    NaN         NaN          NaN    NaN            NaN      NaN
1      BEP    NaN         NaN          NaN    NaN            NaN      NaN
2      CCJ    NaN         NaN          NaN    NaN            NaN      NaN
4      CVE    NaN         NaN          NaN    NaN            NaN      NaN
6      ENB    NaN         NaN          NaN    NaN            NaN      NaN
..     ...    ...         ...          ...    ...            ...      ...
859   RELX    NaN         NaN          NaN    NaN            NaN      NaN
872    TAL    NaN         NaN          NaN    NaN            NaN      NaN
873   TRTN    NaN         NaN          NaN    NaN            NaN      NaN
877   VLRS    NaN         NaN          NaN    NaN            NaN      NaN
883    XIN    NaN         NaN          NaN    NaN            NaN      NaN

    Sub-Industry Comment
0            NaN     NaN
1            NaN     NaN
2            NaN     NaN
4            NaN     NaN
6            NaN     NaN
..           ...     ...
859          NaN     NaN
872          NaN     NaN
873          NaN     NaN
877          NaN     NaN
883          NaN     NaN

[245 rows x 9 columns]

In [14]:
# Output value_counts of Sector to see items to choose from
print(us_stocks['Sector'].value_counts())

Sector
Health Care               638
Financials                577
Industrials               399
Information Technology    390
Consumer Discretionary    355
Energy                    179
Real Estate               176
Materials                 128
Consumer Staples          119
Communication Services    111
Utilities                  72
Name: count, dtype: int64

In [15]:
# Output to CSV
# '~\Box\STAT 222 Capstone\Intermediate Data\Sectors\Missing_in_sector_data.csv'
missing_in_sector_data[['Symbol', 'Sector']].to_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Sectors\Missing_in_sector_data.csv', index=False)